@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --font-sans: 'IBM Plex Sans', sans-serif;
    --color-content-500: #111111;
    --color-content-100: #bdbdbd;
    --color-content-50: #f4f3ee;

    --color-link-500: #3e9792;
    --color-link-400: #487594;
    --color-link-100: #0077cd;
    --color-link-50: #0091f9;

    --color-footer-500: #5e6851;

    background-color: var(--color-content-50);
    color: var(--color-content-500);
    font-family: var(--font-sans);
    font-weight: normal;
}

body {
    margin: 0;
}

header {
    padding: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    & > :first-child {
        margin-bottom: 1.75rem;
        font-size: 1.25rem;
        font-weight: 500;
    }

    & > :nth-child(3) {
        margin: 0.5rem 0;
    }

    & > :last-child {
        display: flex;
    }
}

.nav-link {
    text-decoration: none;
}

.nav-link {
    color: inherit;
}

.nav-link:hover {
    color: var(--color-link-500);
}

.outbound-link {
    display: flex;
    align-self: flex-start;
    align-items: center;
}

.outbound-link img {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
}

.inline-link {
    color: var(--color-link-100);

    &:hover {
        color: var(--color-link-50);
    }

    &:visited {
        color: var(--color-link-400);
    }
}

.creds-link {
    color: inherit;
    font-weight: 600;
    display: inline;
    &:hover {
        color: gold;
    }
}

h1,
h2 {
    margin: 0;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    padding: 0 1rem;
    gap: 4rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
}

.artwork {
    width: 100%;
    border-radius: 0.25rem;
}

figure {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0.5rem;
}

figcaption {
    text-align: center;
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;

    & > :last-child {
        margin-top: 1rem;
    }
}

label {
    font-weight: 500;
    margin-bottom: 0.25rem;
}

input {
    background-color: var(--color-content-50);
    border: 1.5px solid var(--color-content-100);
    border-radius: 0.25rem;
    padding: 0.5rem;

    &::placeholder {
        font-weight: 300;
        color: var(--color-content-100);
    }
}

button {
    border: none;
    background-color: var(--color-content-500);
    color: var(--color-content-50);
    padding: 0.5rem 0;
    border-radius: 0.25rem;
}

footer {
    background-color: var(--color-footer-500);
    color: var(--color-content-50);
    padding: 1rem;
}

#footer-content-wrapper {
    & > :nth-child(2) {
        padding-top: 1rem;
    }
}

hr {
    width: 100%;
    border: 0.5px solid var(--color-content-50);
    margin: 1.75rem 0;
}

.creds {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > :first-child {
            margin-bottom: 0;
        }

        & > :nth-child(2) {
            margin-left: auto;
        }

        :nth-child(3),
        :nth-child(4) {
            margin-left: 1rem;
        }
    }

    #footer-content-wrapper {
        padding: 2rem 0;
    }
}

@media (min-width: 1440px) {
    header {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem 0;
    }

    #footer-content-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 4rem 0;
    }
}
