@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  font-family: 'Host Grotesk', sans-serif;
  background: #f3f3f3;
  color: #1d1c1c;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
}

a {
  text-decoration-line: none;
  color: #1d1c1c;
}

a:hover {
  color: rgb(240, 130, 5);
}

.logo-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  img {
    border-radius: 10%;
    width: 30px;
    height: 30px;
  }

  span {
    font-size: 24px;
    font-weight: 600;
  }
}
