@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Host Grotesk', sans-serif;
  background: #f4f4f4;
  color: #1d1c1c;
}

@theme {
  --color-secondary: #f4f4f4;
  --color-primary: #1d1c1c;
  --color-accent-primary: #002bff;
  --color-accent-secondary: #ff6a00;
}
