@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Host Grotesk', sans-serif;
  background: #f3f3f3;
  color: #1d1c1c;
}
